%h1
  = @user.name
  %small= @user.email

%h2 Created events

= render partial: "shared/events", object: @user.events

%h2 Upcoming events

= render partial: "shared/events", object: @user.upcoming_events

%h2 Previously attended events

= render partial: "shared/events", object: @user.previous_events
