%h2= @event.readable_date
%h3= @event.location
%p= @event.description
%p
  Created by 
  =link_to @event.creator.name, user_path(@event.creator)

-if logged_in?
  -if @event.attended_by(current_user)
    = link_to "Cancel atendance", attendance_path(event_id: @event.id), method: :delete, class: "btn btn-primary"
  -else
    = link_to "Attend", new_attendance_path(event_id: @event.id), class: "btn btn-success"

%h4 Attendees
%ul.list-group

- @event.attendees.each do |a|
  %li.list-group-item
    %p= link_to a.name, user_path(a)